<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Si la solicitud no es a un archivo o directorio real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirige todas las solicitudes a api/index.php
    RewriteRule ^(.*)$ /api/$1 [QSA,L]
</IfModule>
